tokenkind: Secret
apiVersion: v1
metadata:
  name: aaptoken
  namespace: aap
  labels:
    app: aap
data:
  hostname: "{{ b64hostname }}"
  host: "{{ b64hostname }}"
  token: "{{ b64token }}"
type: Opaque