kind: Secret
apiVersion: v1
metadata:
  name: rhdh-secrets
  namespace: backstage
  labels:
    app: backstage
data:
  BACKEND_SECRET: RGV2ZWxvcGVyaHViMTIzIQo=
  AUTH_OIDC_CLIENT_ID: {{ keycloak_client_id }}
  AUTH_OIDC_CLIENT_SECRET: {{ keycloak_client_secret }}
  AUTH_OIDC_METADATA_URL: {{ keycloak_metadata_url | b64encode }}
  AUTH_SESSION_SECRET: bXkgc3VwZXIgYXV0aCBzZXNzaW9uIHNlY3JldA==
  GITOPS_ADMIN_PASSWORD: {{ gitops_password }}
type: Opaque