apiVersion: triggers.tekton.dev/v1beta1
kind: EventListener
metadata:
  name: ${{ values.system }}-event-listener
  namespace: ${{ values.system }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  namespaceSelector: {}
  resources: {}
  serviceAccountName: pipeline
  triggers:
    - bindings:
        - kind: ClusterTriggerBinding
          ref: gitlab-push
      template:
        ref: ${{ values.system }}-trigger-template-new-pipeline