apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  name: ${{ values.system }}-pipeline
  namespace: ${{ values.system }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  tasks:
    - name: git-clone-1-16-0
      params:
        - name: url
          value: 'https://gitlab-gitlab.OCP_BASE/development/${{ values.system }}.git'
        - name: revision
          value: ''
        - name: refspec
          value: ''
        - name: submodules
          value: 'true'
        - name: depth
          value: '1'
        - name: sslVerify
          value: 'true'
        - name: crtFileName
          value: ca-bundle.crt
        - name: subdirectory
          value: ''
        - name: sparseCheckoutDirectories
          value: ''
        - name: deleteExisting
          value: 'true'
        - name: httpProxy
          value: ''
        - name: httpsProxy
          value: ''
        - name: noProxy
          value: ''
        - name: verbose
          value: 'true'
        - name: gitInitImage
          value: 'registry.redhat.io/openshift-pipelines/pipelines-git-init-rhel8@sha256:dd5c8d08d52e304a542921634ebe6b5ff3d63c5f68f6d644e88417859b173ec8'
        - name: userHome
          value: /home/git
      taskRef:
        kind: ClusterTask
        name: git-clone-1-16-0
      workspaces:
        - name: output
          workspace: src
    - name: ansible-lint
      params:
        - name: target
          value: .
      runAfter:
        - git-clone-1-16-0
      taskRef:
        kind: Task
        name: ${{ values.system }}-ansible-lint
  workspaces:
    - name: src